// frontend/src/styles/_variables.scss

// Paleta de Cores
$preto-principal: #121212;  // Fundo principal
$preto-secundario: #1E1E1E; // Cor de painéis e cards
$cinza-claro: #B3B3B3;      // Cor do texto secundário
$branco: #FFFFFF;          // Cor do texto principal
$azul-destaque: #007bff;    // Cor de botões e links

// Fontes
$fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Breakpoints para responsividade
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
