// frontend/src/pages/Login.scss
@use '../styles/variables' as *;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  position: relative; // Torna-se a referência para o posicionamento absoluto
  min-height: 70vh;
}

.login-container form {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--sombra-card);
  width: 100%;
  max-width: 400px;
  background-color: var(--cor-fundo-secundario);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--cor-texto-principal);
}

.login-container p {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
  color: var(--cor-texto-secundario);
}

.forgot-password-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--cor-texto-secundario);
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $azul-destaque;
  }
}

// --- ESTILOS PARA AS MENSAGENS FLUTUANTES ---
.feedback-container {
  position: absolute;
  bottom: 20px; // Posição na base do container
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px; // Mesma largura do formulário
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.error-message, .success-message {
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.error-message {
  background-color: rgba(220, 53, 69, 0.9);
  color: white;
}

.success-message {
  background-color: rgba(40, 167, 69, 0.9);
  color: white;
}