.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;

  form {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--sombra-card);
    width: 100%;
    max-width: 400px;
    background-color: var(--cor-fundo-secundario);
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--cor-texto-principal);
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--cor-texto-principal);
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
    border-radius: 4px;
    box-sizing: border-box;
  }
}